<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.iaconelli.rmcd</string>
	<key>CFBundleName</key>
	<string>rmcd</string>
	<key>CFBundleExecutable</key>
	<string>rmcd</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>rmcd needs access to your Music library for browsing and searching.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>rmcd needs to send Apple Events to Music.app for playback control.</string>
</dict>
</plist>
